body{
  font-family: 'Candal', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url('../images/grass2.png');
  background-repeat: repeat;

}

#cowImage{
  float: right;
  margin-right: 70px;
}

#h1Image{
  width: 400px;
}
h1, h3 {
  margin: 0;
}
#innerContainer{
  background-color: white;
  border: solid black 5px;
  border-right: solid black 5px;
  border-top: solid black 5px;
  min-height: 1000px;
  padding: 20px;
}

.header{
  background-image: url('../images/fronthills2.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-color: white;
  border: solid black 5px;
  min-height: 300px;
  padding: 20px;
  margin-bottom: 20px;
}
#loadingBar {
  display: block;
  margin: 0 auto;
}
.post {
  border: solid black 5px;
  margin-top: 5px;
  padding: 5px;
}

#newPostForm{
  padding: 10px;
  margin-bottom: 10px;
  border: solid black 3px;
}

.postLeft{
  display: inline-block;
  width: 80%;
}

.postRight{
  display: inline-block;
  vertical-align: top;
  float: middle;
  width: 15%;
}

.postCowImg{
  margin-left: 20px;
}

#bodyContainer{


}

input {
  font-size: 20px;
}
.narrow-font {
  font-family: 'Open Sans Condensed', sans-serif;
}
.wide-font {
  font-family: 'Diplomata', cursive;
}
.set-width {
  width: 220px;
}

